h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}
body
{
    padding: 40px;
    background-color: rgb(238, 111, 195);
}
input ,button{
    
    background-color: rgb(146, 226, 253);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: 600;
    border: none;
    outline-color: aqua;
    
}
button
{
    &:hover
    {
        background-color: rgba(215, 226, 145, 0.455);
    }
    color: rgb(8, 90, 93);

}
.task-item
{
    width: 160px;
    height: 15px;
    background-color: rgba(239, 148, 234, 0.788);
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
    align-items: center;
    animation: animateIn 0.3s ease;

}
@keyframes animateIn {
    0%
    {
        opacity: 0;
        transform: translateX(-100px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0);
    }
    
}
.completed
{
    text-decoration: line-through;
    background-color: rgb(243, 131, 215);
}
#elements
{
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;    
}



